{% extends 'base.html.twig' %}

{% block title %}New Application1Objectif{% endblock %}

{% block body %}
    <h1>Create new Application1Objectif</h1>

    {{ include('application1_objectif/_form.html.twig') }}

    <a href="{{ path('application1_objectif_index') }}">back to list</a>
{% endblock %}
