<form method="post" action="{{ path('application1_task_delete', {'id': application1_task.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application1_task.id) }}">
    <button class="btn">Delete</button>
</form>
